[submodule "build"]
	path = build
	url = https://github.com/microblink/build.git
[submodule "sweater"]
	path = sweater
	url = https://github.com/microblink/sweater.git
[submodule "functionoid"]
	path = functionoid
	url = https://github.com/microblink/functionoid.git
[submodule "googletest"]
	path = googletest
	url = git@github.com:microblink/googletest.git
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = git@github.com:microblink/concurrentqueue.git
[submodule "config_ex"]
	path = config_ex
	url = https://github.com/microblink/config_ex
